/* DashboardStyles.css */

.datime {
  display: none;
  margin-top: 1.5%;
  font-size: 18px;
}

@media (min-width: 600px) {
  .datime {
    display: block;
  }
}

.insidedateime {
  font-weight: bold;
}

.css-1cvzrf-MuiButtonBase-root-MuiListItem-root.Mui-selected {
  background-color: yellow !important;
  border-radius: 10px !important;
}

.css-1fwslls.Mui-selected {
  background-color: yellow !important;
  border-radius: 10px !important;
}
.css-ahj2mt-MuiTypography-root {
  color: black;
  margin-left: 3%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-weight: 30px !important;
  font-size: 20px !important;
}
/* .css-ahj2mt-MuiTypography-root {} */
/* .datime {
    border: 1px solid rgb(99, 78, 78);
    border-radius: 30px;
  } */
.insidedateime {
  margin-right: 20px;
  margin-left: 20px;
}
.contact {
  margin-top: 60%;
  margin-left: 15%;
  font-weight: bold;
}
